<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupVisualSoftData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BackupVisualSoftData.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Target" serializeAs="String">
                <value />
            </setting>
            <setting name="Include" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextOnly" serializeAs="String">
                <value>.csv
.evt
.vwl
.vwl_XpProc
.ini</value>
            </setting>
            <setting name="TextExcept" serializeAs="String">
                <value>.asf</value>
            </setting>
        </BackupVisualSoftData.Properties.Settings>
    </userSettings>
</configuration>